# ignore env files
.env

# ignore generated directories
.venv
.pytest_cache

# ignore these directories everywhere
**/__pycache__

# ignore log files
geckodriver.log

# ignore chromium driver
chromedriver.exe

# ignore test scripts
test.py
test.ipynb
test.html